body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header li a {
  color: #fff;
  text-decoration: none;

}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

html,
body {
  height: 100%
}

body {
  display: grid;
  background: #fff;
  font-family: 'Manrope', sans-serif
}

.mydiv {
  margin-top: 50px;
  margin-bottom: 50px
}

.padding-0 {
  padding-right: 5px;
  padding-left: 5px
}

.img-style {
  margin-left: -11px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 104% !important
}

.m-t-20 {
  margin-top: 20px
}

.bbb_background {
  background-color: #E0E0E0 !important
}

.ribbon {
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 0;
  width: 20%;
  border-radius: 10px;
  background-color: red;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-transform: uppercase;
  text-align: center;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent
}

.ribbon-top-right::before {
  top: 0;
  left: 17px
}

.ribbon-top-right::after {
  bottom: 17px;
  right: 0
}

.sold_stars i {
  color: orange
}

div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.bbb_deals_featured {
  width: 100%
}

.bbb_deals {
  width: 100%;
  margin-right: 7%;
  padding-top: 80px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 34px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 20px
}

.bbb_deals_title {
  position: absolute;
  top: 10px;
  left: 22px;
  font-size: 18px;
  font-weight: 700;
  color: #000000
}

.bbb_deals_title-right {
  right: 22px;
  left: auto;
  color: #fff;
}

.bbb_deals_slider_container {
  width: 100%
}

.bbb_deals_item {
  width: 100% !important
}

.bbb_deals_image {
  width: 100%
}

.bbb_deals_image img {
  width: 100%
}

.bbb_deals_content {
  margin-top: 33px
}

.bbb_deals_item_category a {
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5)
}

.bbb_deals_item_price_a {
  font-size: 18px;
  font-weight: 400;
  color: rgba(175, 165, 165, 0.6);  
}

.bbb_deals_item_name {
  font-size: 18px;
  font-weight: 400;
  color: #000000
}

.bbb_deals_item_price {
  font-size: 18px;
  font-weight: 500;
  color: #6d6e73;
  text-wrap: nowrap
}